body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: url(../imgs/cursor.png) 1 1, pointer;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.game-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#2a2a2a, #412d4b);
  background: linear-gradient(#2a2a2a, #412d4b);
}

.world {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: top;
  pointer-events: none;
}

.header h1 {
  font-family: "Ubuntu";
  font-size: 4.5em;
  line-height: 1;
  margin-left: 1.5rem;
  letter-spacing: -0.025em;
  color: #f8f8f8;
  text-align: left;
}

.header h1 span {
  text-align: left;
  margin-left: 2rem;
  display: block;
  font-size: 0.34em;
  font-style: italic;
  letter-spacing: 10px;
  color: #f25346;
}

.score {
  margin-top: 5%;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}

.score__content {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}

.score__label {
  font-family: "Ubuntu";
  font-size: 13px;
  position: relative;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.score_mode {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.score__value {
  font-family: "Ubuntu";
  font-weight: bold;
  color: #ffd700;
}

.score__value--level {
  font-size: 26px;
}

.score__value--dist {
  font-size: 30px;
  text-align: center;
}

.level-circle {
  position: absolute;
  left: 50%;
  width: 46px;
  margin: -37px 0 0 -23px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.score__value--energy {
  position: relative;
  width: 65px;
  height: 25px;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #ffffff;
}

.energy-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  background-color: #f25346;
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.message {
  font-family: Ubuntu;
  font-weight: bold;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.message--replay {
  font-size: 2.25vw;
  bottom: 40vh;
  display: none;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffd700;
}
.credits a:hover {
  font-size: 1.5rem;
  opacity: 1;
}
.credits {
  opacity: 35%;
  position: absolute;
  color: white;
  font-family: Ubuntu;
  font-weight: regular;
  text-align: center;
  width: 100%;
  top: 95%;
  font-size: 1rem;
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 40em) {
  .header {
    font-size: 0.55em;
    letter-spacing: 5px;
  }
  .header h1 span {
    margin-left: 1rem;
  }
  .header h2 {
    letter-spacing: 0.65em;
  }
  .message {
    font-size: 2em;
  }
  .score {
    zoom: 0.85;
    -moz-transform: scale(0.85);
  }
  .playbt {
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-family: Ubuntu;
  font-weight: bold;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 1.25em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 1px #b18597;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 1px #b18597;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 1px #b18597;
  transform: translate3d(0, 0, -1em);
}
.playbt {
  margin-top: 5rem;

  position: absolute;
  font-size: 2.25vw;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #ffffff;
  text-align: center;
  width: 100%;
  top: 25%;
}
