/* .world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
	background: linear-gradient(#e4e0ba, #f7d9aa);
} */

.title {
  font-family: "Ubuntu";
  font-weight: bold;
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  top: 1em;
  width: 100%;
  text-align: center;
}
.container {
  text-align: center;
  position: relative;
  top: 20%;
  right: 10%;
  left: 10%;
  width: 80%;
}
.container .special {
}
.clique {
  margin: 1rem;
}
span {
  color: aqua;
}
.description {
  position: relative;
  font-family: "Ubuntu";
  font-weight: bold;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 1rem;
  color: #9e9e9e;
}
.text {
  position: relative;
  font-family: "Ubuntu";
  font-weight: bold;
  font-weight: 600;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
}
@media screen and (max-width: 40em) {
  .learn-more {
    zoom: 0.75;
  }
  .title {
    zoom: 0.75;
  }
  .text {
    font-size: 1rem;
  }
}
